.header-logo>img{
    width: 100%;
}
.header-logo{
    height: 110px;
    overflow: hidden;
}
.categories-wrapper{
    display: flex;
    justify-content: center;
}
.categories-wrapper>div>img{
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 10%;
}